      <div class="social-icons">
          <a href="https://twitter.com/j4yz0n31" target="_blank" rel="noopener noreferrer">
              <i class="fab fa-twitter fa-2x"></i>
          </a>
          <a href="https://www.xing.com/profile/Johannes_Kirchner17/cv" target="_blank" rel="noopener noreferrer">
              <i class="fab fa-xing fa-2x"></i>
          </a>
          <a href="https://www.linkedin.com/in/johannes-kirchner-2ab357211/" target="_blank" rel="noopener noreferrer">
              <i class="fab fa-linkedin fa-2x"></i>
          </a>
          <a href="https://github.com/jayzone91" target="_blank" rel="noopener noreferrer">
              <i class="fab fa-github fa-2x"></i>
          </a>
      </div>