---
title: About
layout: base.njk
---
    
    <section class="about">
      <div class="about__bio-image">
        <div class="about__bio">
          <h2 class="text-secondary">Lebenslauf</h2>
          <p></p>
        </div>
      </div>

      <div class="jobs">
        <div class="jobs__job">
          <h2 class="text-secondary">2020 - heute</h2>
          <h3>Computer Extra Ernst & Jacob KG</h3>
          <h6>Full Stack Developer</h6>
          <p>
            Neugestalten der Webseite. Neuanlage eines Onlineshops und einer Landingpage für Socialmedia. <br>Betreuung der Webseiten. <br>Ansprechpartner für Webhosting Kunden
          </p>
        </div>
        <div class="jobs__job">
          <h2 class="text-secondary">2020 - heute</h2>
          <h3>Computer Extra Ernst & Jacob KG</h3>
          <h6>Fachkraft f. Lagerlogistik</h6>
          <p></p>
        </div>
        <div class="jobs__job">
          <h2 class="text-secondary">2019 - heute</h2>
          <h3>Computer Extra Ernst & Jacob KG</h3>
          <h6>Datenschutzbeauftragter</h6>
          <p></p>
        </div>
        <div class="jobs__job">
          <h2 class="text-secondary">2018 - 2020</h2>
          <h3>Computer Extra Ernst & Jacob KG</h3>
          <h6>Fachkraft f. Lagerlogistik</h6>
          <p>Umschulung zur Fachkraft für Lagerlogistik an der Paul-Julius-von-Reuter-Schule in Kassel.</p>
        </div>
        <div class="jobs__job">
          <h2 class="text-secondary">2015 - 2018</h2>
          <h3>Computer Extra Ernst & Jacob KG</h3>
          <h6>Lager, Servie, Garantieabwicklung</h6>
          <p></p>
        </div>
        <div class="jobs__job">
          <h2 class="text-secondary">2014 - 2015</h2>
          <h3>Computer Extra Ernst & Jacob KG</h3>
          <h6>Lagerist</h6>
          <p></p>
        </div>
        <div class="jobs__job">
          <h2 class="text-secondary">2011 - 2014</h2>
          <h3>Computer Extra Ernst & Jacob KG</h3>
          <h6>Aushilfe</h6>
          <p>
            Aushilfe in der Werkstatt.
          </p>
        </div>
        <div class="jobs__job">
          <h2 class="text-secondary">2009 - 2011</h2>
          <h3>Computer Extra Ernst & Jacob KG</h3>
          <h6>Praktikant</h6>
          <p>
            Praktikant im Rahmen des Fachabiturs an der Max-Exth-Schule in Kassel.
          </p>
        </div>
        <div class="jobs__job">
          <h2 class="text-secondary">2009 - 2012</h2>
          <h3>Max-Eyth-Schule Kassel</h3>
          <h6>Fachabitur</h6>
          <p>
            Fachabitur Schwerpunkt: Informatik mit dem Abschluss einer Fachhochschulreife.
          </p>
        </div>
        <div class="jobs__job">
          <h2 class="text-secondary">2005 - 2005</h2>
          <h3>Monkeybox - Bauer & Siehl GBR</h3>
          <h6>Praktikant</h6>
          <p>
            Praktikum im Schulischen Rahmen
          </p>
        </div>

      </div>