---
title: Contact
layout: base.njk
---

 <section class="contact">
      <h2>Contact Me..</h2>

      <div class="contact__list">
        <div class="contact__email">
          <i class="fas fa-envelope"></i> Email
          <div class="text-secondary">hi@j4yz0n3.de</div>
        </div>
        <div class="contact__phone">
          <i class="fab fa-skype"></i> Skype
          <div class="text-secondary">jayzone91</div>
        </div>
        <div class="contact__address">
          <i class="fab fa-telegram-plane"></i> Telegram
          <div class="text-secondary">@j4yz0n3</div>
        </div>
      </div>
