---
title: Startseite
layout: base.njk
---
    <section class="home">
      <h2>Hi! My Name Is</h2>
      <h1 class="home__name">
        Johannes <span class="home__name--last">Kirchner</span>
      </h1>
      <h2>
        Web Developer & Programmer
      </h2>