---
title: Projects
layout: base.njk
---

<section class="projects">
  <div class="projects__bio-image">
    <h1 class="text-secondary">Meine Projekte</h1>
  </div>

  <div class="projects__items">
    <div class="projects__item">
      <img src="../assets/img/compex.jpg" alt="Computer Extra">
      <div class="projects__btns">
        <a href="https://computer-extra.de" class="projects__btn" target="_blank" rel="noopener noreferrer">
          <i class="fas fa-eye"></i> Vorschau
        </a>
        <!-- <a href="#!" class="projects__btn">
          <i class="fab fa-github"></i> Github
        </a> -->
      </div>
    </div>
    <div class="projects__item">
      <img src="../assets/img/landing.jpg" alt="Computer Extra Landingpage">
      <div class="projects__btns">
        <a href="https://landing.computer-extra.de" class="projects__btn" target="_blank" rel="noopener noreferrer">
          <i class="fas fa-eye"></i> Vorschau
        </a>
        <!-- <a href="#!" class="projects__btn">
          <i class="fab fa-github"></i> Github
        </a> -->
      </div>
    </div>
    <div class="projects__item">
      <img src="../assets/img/shop.jpg" alt="Computer Extra Onlineshop">
      <div class="projects__btns">
        <a href="https://shop.computer-extra.de" class="projects__btn" target="_blank" rel="noopener noreferrer">
          <i class="fas fa-eye"></i> Vorschau
        </a>
        <!-- <a href="#!" class="projects__btn">
          <i class="fab fa-github"></i> Github
        </a> -->
      </div>
    </div>
    <div class="projects__item">
      <img src="../assets/img/macos.jpg" alt="MacOS Clon">
      <div class="projects__btns">
        <a href="https://macclon.j4yz0n3.de" class="projects__btn" target="_blank" rel="noopener noreferrer">
          <i class="fas fa-eye"></i> Vorschau
        </a>
        <a href="https://github.com/jayzone91/MacOSClone" class="projects__btn" target="_blank" rel="noopener noreferrer">
          <i class="fab fa-github"></i> Github
        </a>
      </div>
    </div>

  </div>