.datenschutz {
    width: 60vw;
    margin: 2rem auto 0 auto;

    h2,
    h3 {
        margin: 0.5rem 0;
    }

    h1,
    h2,
    h3,
    h4,
    h5,
    h6,
    p,
    a,
    span,
    b {
        word-break: break-all;
    }

    a:hover,
    a:focus {
        color: $secondary-color;
        @include transition-ease;
    }
}